.header_con{
    text-align: center;
    margin : 2rem 0;
}

.header_logo{
    font-family: 'Montserrat', sans-serif;
}


.soyolim_footer_logo{
    font-family: 'Montserrat', sans-serif;"
    }

.footer_logo_con{
    margin-top: 0.7rem;
}

.footer_con{
 text-align: center;
 margin-top: 2rem;
}

.footer_btn{
    font-size: 0.8rem;
}
