{% extends 'base.html' %}

{% block content %}
<div>
  <div style = "text-align: center; max-width: 700px; margin: 4rem auto;">
    <h1>
      {{ target_article.title}}
    </h1>
    <h6 style="font-weight: 300;">
      <span>Written by.</span>{{ target_article.writer.profile.nickname }}
    </h6>
    <hr>
    <img style="width:100%; border-radius: 1rem; margin-bottom:1rem;" src="{{ target_article.image.url }}" alt="">
    <p>
      {{ target_article.content }}
    </p>
    {% if target_article.writer == user %}
    <a href="{% url 'articleapp:update' pk=target_article.pk %}"  class="btn btn-primary
    rounded-pill col-2">
      Update
    </a>
    <a href="{% url 'articleapp:delete' pk=target_article.pk %}" class="btn btn-danger
    rounded-pill col-2">
      Delete
    </a>
    <hr>
    {% endif %}
  </div>
</div>

{% endblock %}